<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns:p="http://www.springframework.org/schema/p"
		 xmlns:aop="http://www.springframework.org/schema/aop"
		 xmlns:tx="http://www.springframework.org/schema/tx"
		 xmlns:context="http://www.springframework.org/schema/context"
		 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="applicationContextProvider" class="com.registeredreviews.util.spring.ApplicationContextProvider"/>
	
<!-- 	<bean id="proxyBean" class="com.registeredreviews.proxydata.ProxyBean "/> -->

    <bean id="resourceLoader" class="org.springframework.core.io.DefaultResourceLoader" />
  	
  	<bean id="propertyConfigurer" class="com.registeredreviews.util.PropertyConfigUtil">
        <constructor-arg type="org.springframework.core.io.ResourceLoader" ref="resourceLoader"/>
        <constructor-arg type="java.lang.String" value="web-config"/>
        <property name="defaultLocation" value="classpath:web-config/" />
    </bean>
    
    
    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:component-scan base-package="com.registeredreviews.model" />
    <context:component-scan base-package="com.registeredreviews.service" />
    <context:component-scan base-package="com.registeredreviews.validator" />
    <context:component-scan base-package="com.registeredreviews.controllers" />
    
<!--     <import resource="spring/iBatisContext.xml" /> -->
<!-- 	<import resource="spring/mailContext.xml" /> -->
    <import resource="spring/dao-context.xml" />
<!--     <import resource="spring/google-maps.xml" /> -->
<!-- 	<import resource="spring/ecommerce.xml" /> -->
    <import resource="spring/error-handler.xml" />
    
        
	<bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	    <property name="messageConverters">
	        <list>
	            <ref bean="jacksonMessageConverter"/>
	        </list>
	    </property>
	</bean>
    

</beans>
